## 2. Feature Extraction

In this notebook we will extract feature needed for model training using event labeled dataset produced from data wrangling notebook.

### Setup Prerequisite

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 71kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 19.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=b86902bb7a444e7a56a7bb964cc3d149ca77742f10cecb40617ab217a47e6ab7
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import Pyspark, Initiati Spark and Load Dataframe

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from functools import reduce

In [ ]:
spark = SparkSession.builder.appName('sparkify') \
    .config('spark.driver.maxResultSize', '3g') \
    .getOrCreate()

In [ ]:
df = spark.read.parquet("/content/drive/MyDrive/datasets/dsnd-sparkify/event_labeled.parquet")
df = df.drop('userIdTemp')
df.printSchema()

root
 |-- userId: string (nullable = true)
 |-- up_ts: timestamp (nullable = true)
 |-- down_ts: string (nullable = true)
 |-- isChurn: boolean (nullable = true)
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- ts: timestamp (nullable = true)

### Create Functions to Join Multiple Dataframe

In [ ]:
def change_colname_join_df(join_df, suffix='_temp'):
    '''
    INPUT:
    join_df - dataframe on the right side of join
    suffix - added string on each column name

    OUTPUT:
    res_df - dataframe with renamed column

    | col_1 | col_ 2 |  -->  | col_1_temp | col_ 2_temp |
    '''
    res_df = join_df
    for col_name in join_df.columns:
        res_df = res_df.withColumnRenamed(col_name, col_name + suffix)
    
    return res_df

def remove_cols_suffix(df1, suffix="_temp"):
    '''
    INPUT:
    df1 - dataframe with suffix column

    OUTPUT:
    result - dataframe without suffix column

    | col_1_temp | col_ 2_temp |  -->  | col_1 | col_ 2 |
    '''
    for col in df1.columns:
        if suffix in col:
            df1 = df1.withColumnRenamed(col, col[:len(col) - len(suffix)])
    
    return df1


def chain_and(df1, df2, key_cols, suffix="_temp"):
    '''
    DESCRIPTION:
    create chaining and condition for joining
    (df1.col1 == df2.col1_suffix) & (df1.col2 == df2.col2_suffix)
    
    INPUT:
    df1 - left dataframe
    df2 - right dataframe
    key_cols - columns name for join conditions
    suffix - columns name suffix

    OUTPUT:
    res - chain and for join
    '''
    for i, col in enumerate(key_cols):
        if i == 0:
            res = df1[col] == df2[col + suffix]
        else:
            res = res & (df1[col] == df2[col + suffix])
    
    return res

def chain_left_join(df1, dfs, key_cols, suffix="_temp", 
                    path="/content/drive/MyDrive/datasets/dsnd-sparkify/join_temp"):
    '''
    INPUT:
    df1 - left dataframe
    dfs - list of right dataframes
    key_cols - columns name for join conditions
    suffix - columns name suffix

    OUTPUT:
    result - dataframe after chain join
    '''
    for i, df_temp in enumerate(dfs):
        # get left dataframe
        if i == 0:
            res_df = df1
        else:
            res_df = spark.read.parquet(path + "_" + str(i - 1) + ".parquet")
        
        # change right dataframe columns name
        df_temp = change_colname_join_df(df_temp)

        # join and save
        res_df = res_df.join(df_temp, chain_and(res_df, df_temp, key_cols), how="left") \
            .drop(key_cols[0] + suffix).drop(key_cols[1] + suffix)
        res_df = remove_cols_suffix(res_df)
        
        res_df.coalesce(1).write.mode("overwrite").parquet(path + "_" + str(i) + ".parquet")
    
    return spark.read.parquet(path + "_" + str(len(dfs) - 1) + ".parquet")

### Produce Features

In [ ]:
# dataframe with the key columns ("userId" and "up_ts") and churn status
key_df = df.select(["userId", "up_ts", "isChurn"]).groupBy(["userId", "up_ts"]) \
    .agg(F.max("isChurn").alias("is_churn"))

key_df.show(5)

+-------+-------------------+--------+
| userId|              up_ts|is_churn|
+-------+-------------------+--------+
|1367536|2018-10-08 14:58:27|   false|
|1322258|2018-10-08 23:28:14|    true|
|1554972|2018-11-19 21:16:01|   false|
|1655008|2018-10-25 06:50:45|   false|
|1968237|2018-10-27 11:19:26|   false|
+-------+-------------------+--------+
only showing top 5 rows

In [ ]:
# number of song heard in one subscription
n_songs_play_df = df.filter(df.page == "NextSong").groupBy(["userId", "up_ts"]).count().withColumnRenamed("count", "n_songs")
n_songs_play_df.show(5)

+-------+-------------------+-------+
| userId|              up_ts|n_songs|
+-------+-------------------+-------+
|1367536|2018-10-08 14:58:27|   1806|
|1322258|2018-10-08 23:28:14|    997|
|1554972|2018-11-19 21:16:01|    472|
|1655008|2018-10-25 06:50:45|    234|
|1968237|2018-10-27 11:19:26|    700|
+-------+-------------------+-------+
only showing top 5 rows

In [ ]:
# number of day in subscription
maxdate_df = df.select("ts").agg(F.max(df.ts))

datediff_df = df.select(["userId", "up_ts", "down_ts", "isChurn"]).dropDuplicates() \
    .join(maxdate_df, ~df.userId.isNull(), how='left') \
    .withColumn("datediff", 
        F.datediff(F.when(F.col("isChurn"), F.col("down_ts")).otherwise(F.col("max(ts)").cast(T.TimestampType())), df.up_ts)) \
    .drop("max(ts)")

datediff_df.show(5)

+-------+-------------------+-------------------+-------+--------+
| userId|              up_ts|            down_ts|isChurn|datediff|
+-------+-------------------+-------------------+-------+--------+
|1111091|2018-11-27 17:43:31|2099-12-31 00:00:00|  false|       3|
|1161080|2018-10-26 19:14:14|2018-11-23 21:55:06|   true|      28|
|1291366|2018-10-01 04:22:41|2099-12-31 00:00:00|  false|      60|
|1335330|2018-11-26 15:00:33|2099-12-31 00:00:00|  false|       4|
|1721316|2018-10-11 17:19:44|2099-12-31 00:00:00|  false|      50|
+-------+-------------------+-------------------+-------+--------+
only showing top 5 rows

In [ ]:
# number of song played per day
jdf = change_colname_join_df(datediff_df)
songs_rate_df = df.filter(df.page == 'NextSong').groupBy(["userId", "up_ts"]).count() \
    .withColumnRenamed("count", "song_count") \
    .join(jdf, (df.up_ts == jdf.up_ts_temp) & (df.userId == jdf.userId_temp)) \
    .drop("userId_temp", "up_ts_temp", "down_ts_temp", "isChurn_temp") \
    .withColumn("song_rate", F.col("song_count") / F.when(F.col("datediff_temp") == 0, 1).otherwise(F.col("datediff_temp"))) \
    .withColumnRenamed("datediff_temp", "subs_duration")

songs_rate_df.show(5)

+-------+-------------------+----------+-------------+------------------+
| userId|              up_ts|song_count|subs_duration|         song_rate|
+-------+-------------------+----------+-------------+------------------+
|1071843|2018-11-08 13:16:59|      1190|           22| 54.09090909090909|
|1120784|2018-10-11 14:16:28|      1502|           50|             30.04|
|1128522|2018-11-13 17:46:22|       203|            2|             101.5|
|1130061|2018-10-11 20:04:50|        96|           50|              1.92|
|1135039|2018-10-04 11:31:06|       643|           57|11.280701754385966|
+-------+-------------------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
# number of songs added to playlist
n_playlist_df = df.select(["userId", "up_ts", "page"]).filter(df.page =="Add to Playlist") \
    .groupBy(["userId", "up_ts"]) \
    .agg(F.count(F.col("page")).alias("n_playlist"))

n_playlist_df.show(5)

+-------+-------------------+----------+
| userId|              up_ts|n_playlist|
+-------+-------------------+----------+
|1367536|2018-10-08 14:58:27|        39|
|1322258|2018-10-08 23:28:14|        30|
|1554972|2018-11-19 21:16:01|        21|
|1655008|2018-10-25 06:50:45|        11|
|1968237|2018-10-27 11:19:26|        15|
+-------+-------------------+----------+
only showing top 5 rows

In [ ]:
#number of thumbs up and down
tup_tdown_df = df.select(["userId", "up_ts", "down_ts", "isChurn", "page"]).filter(df.page.isin(["Thumbs Up", "Thumbs Down"])) \
    .groupby(["userId", "up_ts", "page"]) \
    .agg(F.count(F.col("page"))) \
    .groupby(["userId", "up_ts"]) \
    .pivot("page") \
    .agg(F.first("count(page)")) \
    .withColumnRenamed("Thumbs Down", "thumbs_down") \
    .withColumnRenamed("Thumbs Up", "thumbs_up")

tup_tdown_df.show(5)

+-------+-------------------+-----------+---------+
| userId|              up_ts|thumbs_down|thumbs_up|
+-------+-------------------+-----------+---------+
|1427546|2018-10-17 22:52:00|          4|       25|
|1712775|2018-11-23 17:56:01|          6|       35|
|1358238|2018-10-02 14:25:59|         23|       64|
|1071843|2018-11-08 13:16:59|          6|       51|
|1554972|2018-11-19 21:16:01|          5|       35|
+-------+-------------------+-----------+---------+
only showing top 5 rows

In [ ]:
# average session length and number of session
session_df = df.groupBy(["userId", "up_ts", "sessionId"]) \
    .agg(
        F.min(df.ts).cast(T.LongType()).alias("min"),
        F.max(df.ts).cast(T.LongType()).alias("max")
    ) \
    .withColumn("diff", (F.col("max") - F.col("min"))) \
    .groupBy(["userId", "up_ts"]) \
    .agg(F.avg(F.col("diff")).alias("avg_sess_len"), F.count(F.col("sessionId")).alias("sess_count"))

session_df.show(5)

+-------+-------------------+------------------+----------+
| userId|              up_ts|      avg_sess_len|sess_count|
+-------+-------------------+------------------+----------+
|1914133|2018-10-09 11:11:55|           22340.0|        12|
|1071843|2018-11-08 13:16:59|27020.272727272728|        11|
|1582360|2018-10-04 15:48:38|19012.117647058825|        34|
|1576394|2018-10-03 07:51:46| 19205.60606060606|        33|
|1957517|2018-10-11 04:46:39|          28964.75|        12|
+-------+-------------------+------------------+----------+
only showing top 5 rows

In [ ]:
# platform for each user
device_df = df.select(["userId", "up_ts", "userAgent"]).withColumn("platform",
    F.when(df.userAgent.contains("Macintosh"), "macos") \
    .when(df.userAgent.contains("Windows"), "windows") \
    .when(df.userAgent.contains("iPad"), "ipad") \
    .when(df.userAgent.contains("iPhone"), "iphone") \
    .when(df.userAgent.contains("Linux"), "linux")) \
    .groupBy(["userId", "up_ts", "platform"]) \
    .agg(F.count("platform")) \
    .withColumn("isplatform", ~F.isnull(F.col("count(platform)"))) \
    .groupby(["userId", "up_ts"]) \
    .pivot("platform") \
    .agg(F.max("isplatform")) \
    .fillna(False)

device_df.show(5)

+-------+-------------------+-----+------+-----+-----+-------+
| userId|              up_ts| ipad|iphone|linux|macos|windows|
+-------+-------------------+-----+------+-----+-----+-------+
|1130061|2018-10-11 20:04:50|false| false|false| true|  false|
|1914133|2018-10-09 11:11:55|false| false|false| true|  false|
|1128522|2018-11-13 17:46:22|false| false|false| true|  false|
|1712775|2018-11-23 17:56:01|false| false|false|false|   true|
|1568402|2018-10-18 14:26:47|false|  true|false|false|  false|
+-------+-------------------+-----+------+-----+-----+-------+
only showing top 5 rows

In [ ]:
#state
state_df = df.select(["userId","up_ts","location"]) \
    .withColumn("state", F.split(df.location, ', ')[1]) \
    .groupBy(["userId", "up_ts", "state"]) \
    .agg(~F.isnull(F.count(F.col("state")))) \
    .withColumnRenamed("(NOT (count(state) IS NULL))", "isstate") \
    .groupBy(["userId", "up_ts"]) \
    .pivot("state") \
    .agg(F.max("isstate")) \
    .fillna(False)

state_df.show(5)

+-------+-------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+-----+--------+--------+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
| userId|              up_ts|   AK|   AL|   AR|AR-MO|AR-OK|   AZ|   CA|   CO|   CT|DC-VA-MD-WV|   DE|   FL|   GA|GA-AL|GA-SC|   HI|   IA|IA-IL|IA-IL-MO|IA-NE-SD|   ID|   IL|IL-IN-WI|IL-MO|   IN|IN-KY|IN-MI|   KS|   KY|KY-IL|KY-IN|   LA|   MA|MA-CT|MA-NH|   MD|MD-DE|MD-WV|   ME|   MI|MI-WI|   MN|MN-WI|   MO|MO-IL|MO-KS|   MS|MS-LA|   MT|   NC|NC-SC|   ND|ND-MN|   NE|NE-IA|   NH|NH-VT|   NJ|   NM|   NV|   NY|NY-NJ-PA|   OH|OH-KY-IN|OH-PA|   OK|   OR|OR-ID|OR-WA|   PA|PA-NJ|PA-NJ-DE-MD|RI-MA|   SC|SC-NC|   SD|   TN|TN-GA|TN-KY|TN-MS-AR|TN-VA|   TX|TX-AR|   UT|UT-ID|   VA|VA-NC|VA-WV|   VT|   WA|   WI|WI-MI|WI-MN|   WV|WV-KY-OH|WV-OH|WV-VA|   WY|WY-ID|
+-------+-------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+-----+--------+--------+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
|1441166|2018-11-20 06:16:50|false|false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|false|   false|   false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false| true|false|false|false|false|false|false|false|false|false|false|false|   false|false|   false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|false|false|false|
|1480286|2018-10-05 08:08:07|false|false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|false|   false|   false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false| true|   false|false|   false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|false|false|false|
|1407795|2018-10-21 07:32:32|false|false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|false|   false|   false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|   false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|   false|false|false|false|false|false|false|false|false|false| true|false|false|false|false|   false|false|false|false|false|
|1431971|2018-11-17 16:39:25|false|false|false|false|false|false| true|false|false|      false|false|false|false|false|false|false|false|false|   false|   false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|   false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|false|false|false|
|1638234|2018-10-03 18:09:53|false|false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|false|   false|   false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|    true|false|   false|false|false|false|false|false|false|false|      false|false|false|false|false|false|false|false|   false|false|false|false|false|false|false|false|false|false|false|false|false|false|false|   false|false|false|false|false|
+-------+-------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+-----+--------+--------+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----------+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+
only showing top 5 rows

In [ ]:
# number of error, number of friend added, number of cancellation confirmation page seen
pages_df = df.select(["userId", "up_ts", "page"]) \
    .filter(F.col("page").isin(["Error", "Add Friend", "Cancellation Confirmation"])) \
    .groupby(["userId", "up_ts"]) \
    .agg(
        F.count(F.when(F.col("page") == "Error", 1)).alias("n_error"),
        F.count(F.when(F.col("page") == "Add Friend", 1)).alias("n_friend_add"),
        F.count(F.when(F.col("page") == "Cancellation Confirmation", 1)).alias("n_cancel_page")
        )
pages.show(5)

+-------+-------------------+-------+------------+-------------+
| userId|              up_ts|n_error|n_friend_add|n_cancel_page|
+-------+-------------------+-------+------------+-------------+
|1367536|2018-10-08 14:58:27|      1|          43|            1|
|1322258|2018-10-08 23:28:14|      1|          24|            0|
|1554972|2018-11-19 21:16:01|      0|          15|            0|
|1655008|2018-10-25 06:50:45|      0|           3|            0|
|1968237|2018-10-27 11:19:26|      1|          13|            0|
+-------+-------------------+-------+------------+-------------+
only showing top 5 rows

In [ ]:
# number of unique song
n_unq_song_df = df.select(["userId", "up_ts", "song"]).distinct() \
    .groupby(["userId", "up_ts"]) \
    .agg(F.count("song").alias("n_unq_song"))

n_unq_song_df.show(5)

+-------+-------------------+----------+
| userId|              up_ts|n_unq_song|
+-------+-------------------+----------+
|1322258|2018-10-08 23:28:14|       921|
|1367536|2018-10-08 14:58:27|      1575|
|1421594|2018-10-09 18:22:30|      1206|
|1431971|2018-11-17 16:39:25|       448|
|1468354|2018-10-24 02:01:02|       244|
+-------+-------------------+----------+
only showing top 5 rows

In [ ]:
# number of unique artist
n_unq_artist_df = df.select(["userId", "up_ts", "artist"]).distinct() \
    .groupby(["userId", "up_ts"]) \
    .agg(F.count("artist").alias("n_unq_artist"))

n_unq_artist_df.show(5)

+-------+-------------------+------------+
| userId|              up_ts|n_unq_artist|
+-------+-------------------+------------+
|1322258|2018-10-08 23:28:14|         741|
|1367536|2018-10-08 14:58:27|        1176|
|1421594|2018-10-09 18:22:30|         972|
|1431971|2018-11-17 16:39:25|         390|
|1468354|2018-10-24 02:01:02|         223|
+-------+-------------------+------------+
only showing top 5 rows

### Chain Join Feature and Save the Result

In [ ]:
# joining all feature into one table
ml_df = chain_left_join(key_df,
    [songs_rate_df, n_playlist_df, tup_tdown_df, session_df, device_df,
        pages_df, n_unq_song_df, n_unq_artist_df], 
    ["userId", "up_ts"]) \
    .fillna(0)

ml_df.show(5)

+-------+-------------------+--------+----------+-------------+------------------+----------+-----------+---------+------------------+----------+-----+------+-----+-----+-------+-------+------------+-------------+----------+------------+
| userId|              up_ts|is_churn|song_count|subs_duration|         song_rate|n_playlist|thumbs_down|thumbs_up|      avg_sess_len|sess_count| ipad|iphone|linux|macos|windows|n_error|n_friend_add|n_cancel_page|n_unq_song|n_unq_artist|
+-------+-------------------+--------+----------+-------------+------------------+----------+-----------+---------+------------------+----------+-----+------+-----+-----+-------+-------+------------+-------------+----------+------------+
|1071843|2018-11-08 13:16:59|   false|      1190|           22| 54.09090909090909|        39|          6|       51|27020.272727272728|        11|false| false|false| true|  false|      1|          32|            0|      1104|         902|
|1120784|2018-10-11 14:16:28|   false|      1502|           50|             30.04|        45|         17|      122|14162.807692307691|        26|false| false|false|false|   true|      2|          24|            0|      1357|        1042|
|1128522|2018-11-13 17:46:22|    true|       203|            2|             101.5|         9|          6|       12|17188.666666666668|         3|false| false|false| true|  false|      0|           4|            0|       198|         190|
|1130061|2018-10-11 20:04:50|   false|        96|           50|              1.92|         4|          4|        3|           11930.5|         2|false| false|false| true|  false|      0|           2|            1|        96|          92|
|1135039|2018-10-04 11:31:06|   false|       643|           57|11.280701754385966|        29|          4|       49|22156.285714285714|         7|false| false|false|false|   true|      2|          12|            0|       611|         513|
+-------+-------------------+--------+----------+-------------+------------------+----------+-----------+---------+------------------+----------+-----+------+-----+-----+-------+-------+------------+-------------+----------+------------+
only showing top 5 rows

In [ ]:
ml_df.write.parquet("/content/drive/MyDrive/datasets/dsnd-sparkify/ml_df.parquet")